@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  background-color: #0000;
  border: none;
  margin: 0;
  padding: 0;
}

:root {
  --light-blue: #d7d8f7;
}

.sidebar {
  background-color: var(--light-blue);
}
